<!DOCTYPE html>
<html>
  <head>
    <title>VoidFiles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white text-gray-900">
    <%= yield %>
  </body>
</html>
